* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    min-height: 100vh;
}